body {
    background: #121212;
    color: #ccc;
}

p {
    font-size: 0.8rem;
}

a,
a:hover {
    color: #dc3545;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
}

.navbar {
    background: #121212;
}

.dropdown-menu {
    background-color: #202020;
}

.dropdown-item {
    color: #ccc;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #3b3b3b;
    color: #dc3545;
}

.dropdown-divider {
    border-top: 1px solid #3b3b3b;
}

.logout {
    background: #dc3545;
    color: white;
}

.card {
    background: #202020;
}

.card-body img {
    width: 100%;
}

.card-footer {
    border: none;
}

hr {
    border-top: 1px solid #ccc;
}

blockquote {
    background: #3b3b3b;
    border-left: 2px solid #dc3545;
    margin: 0.5rem auto;
    padding: 0.25rem 0.5rem;
}

blockquote p {
    margin-bottom: 0;
}

.avatar {
    height: 32px;
    margin-right: 0.75rem;
    width: 32px;
}

.feather {
    margin: 0 0.2rem;
}

.page-link {
    color: #dc3545;
    background-color: #202020;
    border: 1px solid #3b3b3b;
}

.page-link:hover {
    color: #dc3545;
    background-color: #202020;
    border-color: #3b3b3b;
}

.page-link:focus {
    box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .25);
}

.page-item.disabled .page-link {
    color: #dc3545;
    opacity: 0.5;
    pointer-events: none;
    cursor: auto;
    background-color: #202020;
    border-color: #3b3b3b;
}